.u-section-1 .u-sheet-1 {
  min-height: 635px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 44px 15px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin: 21px 15px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 39px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 226px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1246px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --radius: 15px;
  background-image: none;
  font-size: 1.875rem;
  margin: 80px auto 0;
  padding: 32px 70px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: 300;
  margin: 38px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 20px 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: -22px;
    margin-left: auto;
    padding: 44px 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 14px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 440px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  line-height: 1.4;
  margin: 28px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 2.5rem;
  margin: 13px 45px 54px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 25px;
  }
} .u-section-5 {
  background-image: url("images/WhatsAppImage2024-01-11at21.59.30_d80c3194.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1419px;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1332px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 871px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 747px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.7;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 37px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  line-height: 1.36;
  font-size: 2.375rem;
  margin: 59px 0 58px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1403px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 4.875rem;
  margin: 62px 48px 0;
}

.u-section-7 .u-image-1 {
  width: 1103px;
  height: 1106px;
  margin: 30px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 943px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 722px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 542px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    height: 389px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1385px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  line-height: 1.45;
  margin: 36px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  line-height: 1.96;
}

.u-section-8 .u-text-3 {
  margin: 62px 218px 0 0;
}

.u-section-8 .u-btn-1 {
  --radius: 17px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  margin: 54px auto 53px 349px;
  padding: 23px 67px 24px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 18px;
    font-size: 3rem;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1833px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-top: 20px;
  }

  .u-section-8 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.5rem;
    line-height: 1.41;
  }

  .u-section-8 .u-btn-1 {
    padding-right: 37px;
    padding-bottom: 23px;
    padding-left: 35px;
    margin: 58px 0 39px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 304px;
}

.u-section-9 .u-text-1 {
  font-size: 4.875rem;
  font-weight: 700;
  margin: 55px 48px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1764px;
}

.u-section-10 .u-gallery-1 {
  height: 1732px;
  margin-top: 56px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1430px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-10 .u-gallery-1 {
    height: 4441px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 3473px;
  }

  .u-section-10 .u-gallery-1 {
    margin-top: 60px;
    margin-bottom: 59px;
    height: 3352px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2225px;
  }

  .u-section-10 .u-gallery-1 {
    margin-top: 25px;
    height: 2142px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1782px;
}

.u-section-11 .u-gallery-1 {
  height: 2032px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-11 .u-gallery-1 {
    height: 1676px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 4569px;
  }

  .u-section-11 .u-gallery-1 {
    height: 4338px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3311px;
  }

  .u-section-11 .u-gallery-1 {
    margin-bottom: 40px;
    height: 3271px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2229px;
  }

  .u-section-11 .u-gallery-1 {
    height: 2085px;
  }
}